<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>toms journey in web development</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">
    <style type="text/css">
      {{inlinecss 'assets/css/main.css'}}
    </style>
   
  </head>

  <body>
    {{> header}}
    {{> breadgrumps}}
    <main id="main" role="main" class="main">
      <div class="wrapper">
        {{#block 'main'}}
          {{{contents}}}
        {{/block}}
      </div>
    </main>
    {{> footer}}
    {{> ga}}
    {{> structureddataGlobal }}
    {{#block 'articleMetadata'}}
    {{/block}}
  </body>
</html>
