<footer id="footer" class="footer">
  <div class="wrapper">
    <img src="/assets/img/tomheller.jpg" class="footer_photo" alt="Tom Heller photo" />
    <p>Thomas Heller</p>
    <p>I am a frontend developer currently working for <a href="https://www.dynatrace.com">Dynatrace</a> in Linz, Austria. I am fond of sparkly web stuff and very interested in boosting the webs performance.</p>
    <p>Find me on <a href="https://twitter.com/haroldchen">twitter</a>, <a href="https://github.com/tomheller">github</a> or contact me at <a href="mailto:office@thomasheller.net">office@thomasheller.net</a>.</p>
  </div>
</footer>
